.App {
  text-align: center;
}

.cuadro {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.drum-pad {
  height: 80px;
  background-color: lightskyblue;
  border: 2px solid darkblue;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px darkblue;
  font-weight: bold;
  font-size: 20px;
}

#display {
  padding-top: 10px;
  height: 40px;
  margin: 15px auto;
  background-color: grey;
  color: #fff;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px black;
}